body {
  overflow-x: hidden;
  background-color: $bg;
  font-family: 'Open-sans', sans-serif;
  color: $off-black;
  position: relative;
  transition: opacity $short-ease;
  &::before,
  &::after {
    position: absolute;
    content: '';
    @include bp(smedium){ content: none; }
    width: calc( 0.5 * var(--gsh) );
    top: 95vh;
    height: 6px;
    z-index: 1;
    background-color: $yellow;
    animation: scroll 1.5s infinite;
    animation-timing-function: ease-out;
  }
  &::before {
    right: 50%;
    transform: skew(0, 15deg);
  }
  &::after {
    left: 50%;
    transform: skew(0, -15deg);
  }
}
@keyframes scroll {
  0%, 100% {
    top: 94vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    top: 96vh;
    opacity: 1;
  }
  90% {
    top: 96vh;
    opacity: 0;
  }
}


#header {
  display: grid;
  @include bp(large) { grid-area: 1 / 4 / span 1 / span 4; }
  @include bp(medium) { grid-area: 1 / 2 / span 1 / span 4; }
  @include bp(small) { grid-area: 2 / 1 / span 1 / span 4; }
  padding: 0;
  place-items: center right;
  text-align: right;
  height: 100vh;
  max-height: 80vw;
  @include bp(small) { height: 100%; }
  animation-duration: 700ms;
  animation-name: appear;
  div {
    display: grid;
    place-items: center right;
    text-align: right;
    width: 100%;
  }
  h1 {
    font-size: calc( var(--gs) * 0.9 );
    line-height: 1;
    margin-right: calc( var(--gs) * -0.02 );
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    animation-duration: 700ms;
    animation-name: appear;
  }
  h2 {
    margin-top: 1em;
    max-width: 50%;
    line-height: 1.6em;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-10px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

#footer {

}