{{#> layouts/base title="About | Joost van Sandick" mainheader="About me" subheader="and you"}}

  {{#*inline "head-block"}}

  {{/inline}}

  {{#*inline "content-block"}}
    <div class="grid-container">
      <div class="article active">
        <!-- <div class="marquee img" style="background-image: url('/images/personal-website.jpg')"></div> -->
        <!-- <div class="titles">
          <p>fall 2018 | web design | HTML, SASS, Javascript </p>
          <h1>Building a portfolio website</h1>
          <h3>The struggles of a perfectionist learning a trade</h3>
        </div> -->
        <div class="content">
          <h1>About me</h1>
          <p>I'm a creative and technology enthousiast, trying to find my sweet spot between design, development, stategy and marketing. In recent years, my hobbies, studies and work have shaped my interests and work ethic. Creating something new, </p>       
          </div>
      </div>
    </div>
  {{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}


{{/layouts/base}}