{{#> layouts/base title="Contact | Joost van Sandick" mainheader="Meet your maker" subheader="Let's talk things big and small"}}

  {{#*inline "head-block"}}

  {{/inline}}

  {{#*inline "content-block"}}
  <div class="grid-container">
    <div id="profile">
      <div class="img" style="background-image: URL('/images/Joost.jpg');"></div>
      <div class="text"><div>
        <h1>Joost van Sandick</h1>
        <ul>
          <li>Direct</li>
          <li><span>email: </span><a href="mailto:mail@joostvansandick.nl">mail@joostvansandick.nl</a></li>
          <li><span>phone: </span><a href="tel:+31620900703">0620900703</a></li>
          <!-- <li><span>slack: </span><a href="https://slack.com/U7JSQ8AAH">Joost van Sandick</a></li> -->
        </ul>

        <ul>
          <li>On the web</li>
          <li><a href="https://www.linkedin.com/in/joostvansandick/">Linkedin</a></li>
          <li><a href="https://www.behance.net/jvsandick">Behance</a></li>
          <li><a href="https://dribbble.com/joostvansandick">Dribble</a></li>
          <li><a href="https://codepen.io/Yeaust/">Codepen</a></li>
          <li><a href="https://github.com/jvsandick">Github</a></li>
        </ul>
        </div>
      </div>

    </div>
  </div>
  {{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}


{{/layouts/base}}