{{#> layouts/base title="Home | Joost van Sandick" mainheader="Joost van Sandick" subheader="Designer / strategist / maker"}}

{{#*inline "head-block"}}

{{/inline}}

{{#*inline "content-block"}}
  <div class="grid-container">
    <div class="article active">
      <div class="marquee img" style="background-image: url('/images/custom.jpg')"></div>
      <div class="titles">
        <p>2017 - 2018 | Custom build | Blood, sweat and tears</p>
        <h1>Building a custom motor bike</h1>
        <h3>Years of struggles and procrastination with a happy ending (at some point)</h3>
      </div>
      <div class="content">
        <p>In a far flung past, I started building a motor bike.</p>

        <p></p>

        <div class="offset-box img" style="background-image: url('/images/custom1.png')"></div>

        <h2>Taking her apart</h2>
        <p>The messy part</p>

        <div class="offset-box img" style="background-image: url('/images/custom2.jpg')"></div>

        <h2>Fabricating</h2>
        <p>The fun part</p>

        <div class="offset-box img" style="background-image: url('/images/custom3.jpg')"></div>

        <h2>Cleaning & coating</h2>
        <p>The best part</p>

        <div class="offset-box img" style="background-image: url('/images/custom4.jpg')"></div>

        <h2>Electricity, engine & details</h2>
        <p>The frustrating part (that's taking ages)</p>

        <div class="offset-box img" style="background-image: url('/images/custom5.jpg')"></div>
      </div>
    </div>
  </div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/base}}