{{#> layouts/base title="Hover effects | Joost van Sandick" mainheader="Project" subheader=""}}

{{#*inline "head-block"}}

{{/inline}}

{{#*inline "content-block"}}
    <div class="grid-container">
      <div class="article active">
        <div class="marquee img" style="background-image: url('images/Hover-effects.jpg')"></div>
        <div class="titles">
          <p>summer 2018 | self-study | CSS </p>
          <h1>Exploring hover effect posibilities</h1>
          <h3>::before / ::after, :hover and CSS transitions</h3>
        </div>
        <div class="content">
          <p>I recently started creating a collection of components and effects. Having a backlog of ideas at hand will come in handy at one point or another. But above all, in creating this collection, I got a chance to explore the possibilities of the ::before and ::after pseudo-classes, in combination with :hover state and transitions.</p>

          <p>Each of the divs below has a different hover effect. Checkout the source code or fork the Pen to use any of them in your own projects.</p>

          <div class="offset-box">
            <p data-height="720" data-theme-id="dark" data-slug-hash="yqmeZP" data-default-tab="result" data-user="Yeaust" data-pen-title="Hover effect divs (transitions)" class="codepen">See the Pen <a href="https://codepen.io/Yeaust/pen/yqmeZP/">Hover effect divs (transitions)</a> by jvsandick (<a href="https://codepen.io/Yeaust">@Yeaust</a>) on <a href="https://codepen.io">CodePen</a>.</p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          </div>

          <h2>Notes</h2>
          <p>This is collection is solely made as a reference guide. Sizes, colors, transition directions and speeds are just for demonstration purposes. Change them as you seem fit.</p>
        </div>
      </div>
    </div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/base}}