{{#> layouts/base title="Home | Joost van Sandick" mainheader="Joost van Sandick" subheader="Designer / strategist"}}

{{#*inline "head-block"}}

{{/inline}}

{{#*inline "content-block"}}
    <div class="grid-container">
        <h1>content</h1>
    </div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/base}}