{{#> layouts/base title="Home | Joost van Sandick" mainheader="Joost van Sandick" subheader="Designer / strategist"}}

{{#*inline "head-block"}}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{{/inline}}

{{#*inline "content-block"}}
    <div class="grid-container">
        <div class="image-container" style="grid-column: span 5;">
            <img style="width: 100%; height: 100%;" src="/images/Hover-effects.jpg" alt="">
            </div>
    </div>
    <div class="grid-container">
        <div class="grid">
            <div class="grid-item grid-item--width4"><img style="width: 100%; height: 100%;" src="/images/Hover-effects.jpg" alt=""></div>
            <div class="grid-item grid-item--width3"><img style="width: 100%; height: 100%;" src="/images/Hover-effects.jpg" alt=""></div>
            <div class="grid-item grid-item--width2"><img style="width: 100%; height: 100%;" src="/images/Hover-effects.jpg" alt=""></div>
            <div class="grid-item grid-item--width2"><img style="width: 100%; height: 100%;" src="/images/Hover-effects.jpg" alt=""></div>
            <div class="grid-item grid-item--width4"><img style="width: 100%; height: 100%;" src="/images/Hover-effects.jpg" alt=""></div>
        </div>
        
    </div>
{{/inline}}

{{#*inline "scripts-block"}}
    
{{/inline}}

{{/layouts/base}}