{{#> layouts/base title="Personal Website | Joost van Sandick" mainheader="project" subheader=""}}

{{#*inline "head-block"}}

{{/inline}}

{{#*inline "content-block"}}
    <div class="grid-container">
      <div class="article active">
        <div class="marquee img" style="background-image: url('/images/personal-website.jpg')"></div>
        <div class="titles">
          <p>fall 2018 | web design | HTML, SASS, Javascript </p>
          <h1>Building a portfolio website</h1>
          <h3>The struggles of a perfectionist learning a trade</h3>
        </div>
        <div class="content">
            <p>Working on it, not proud of it yet though</p>       
          </div>
      </div>
    </div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/base}}
