{{#> layouts/base title="Portfolio | Joost van Sandick" mainheader="Look at this" subheader="I made it"}}

{{#*inline "content-block"}}
    <div class="grid-container content">

        <div class="article"><a href="/cityroutes-animation.html">
          <div class="marquee img" style="background-image: url('/images/cityroutes.jpg')"></div>
          <div class="titles">
            <p>winter 2017-2018 | project | motion</p>
            <h1>A visualization of daily routes for hundreds of bikes</h1>
            <h3>A first try in motion graphics</h3>
          </div></a>
        </div>
      </div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/base}}
