{{#> layouts/base title="About | Joost van Sandick" mainheader="side projects" subheader="this is what happens when I get bored"}}

  {{#*inline "head-block"}}

  {{/inline}}

  {{#*inline "content-block"}}
    <div class="grid-container ">
      <div class="article"><a href="/custom.html">
        <div class="marquee img" style="background-image: url('/images/custom.jpg')"></div>
        <div class="titles">
          <p>2017 - 2018 | Custom build | Blood, sweat and tears</p>
          <h1>Building a custom motor bike</h1>
          <h3>Years of struggles and procrastination with a happy ending (at some point)</h3>
        </div></a>
      </div>

      <div class="article"><a href="/personal-website.html">
        <div class="marquee img" style="background-image: url('/images/personal-website.jpg')"></div>
        <div class="titles">
          <p>fall 2018 | web design | HTML, SASS, Javascript </p>
          <h1>Building a portfolio website</h1>
          <h3>The struggles of a perfectionist learning a trade</h3>
        </div></a>
      </div>

      <div class="article">
        <div class="marquee img" style="background-image: url('https://images.unsplash.com/photo-1506686798560-b3217e54b634?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9203ed0d5b69d590a28ab7eb4eb10d7&auto=format&fit=crop&w=1350&q=80')"></div>
        <div class="titles">
          <p>fall 2018 | Web templating | HTML, Javascript </p>
          <h1>Getting a grip on Handlebars.js</h1>
          <h3>Building semantic HTML templates with partials, blocks and layouts</h3>
        </div>
      </div>

      <div class="article"><a href="/hover-effects.html">
        <div class="marquee img" style="background-image: url('/images/Hover-effects.jpg')"></div>
        <div class="titles">
          <p>summer 2018 | self-study | CSS </p>
          <h1>Exploring hover effect posibilities</h1>
          <h3>::before / ::after, :hover and CSS transitions</h3>
        </div></a>
      </div>
    </div>
  {{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}


{{/layouts/base}}