{{#> layouts/base title="Cityroutes" }}

  {{!-- Let's add a second stylesheet for this layout. --}}
  {{#*inline "head-block"}}
    <link rel="stylesheet" href="some-other-styles.css">
  {{/inline}}

  {{#*inline "content-block"}}

    {{> includes/article
      marquee-image-src="/images/cityroutes.jpg"
      title-info="winter 2017-2018 | project | motion"
      title-main="A visualization of daily routes for hundreds of bikes"
      title-sub="A first try in motion graphics"
      article-content=""
    }}
      <p>introductie tekstje Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur cupiditate delectus deserunt doloremque dolores doloribus expedita facere harum incidunt ipsa itaque maiores, molestias nam suscipit unde voluptas, voluptate voluptatem?</p>

      <p>The Bikevertising Company turned Out Of Home advertising into a dynamic industry by using bikes as an advertising space. By offering the billboard bikes to students and young professionals free of charge, they ensure movement throughout the day. I offered to try my hand at motion graphics to visualize the potential daily reach and full coverage of a city with hundreds of these billboard bikes. After Effect's rather steep learning curve proved to be a great challenge.</p>

      <p>The result was part of a more extensive video showcasing the full scope of Bikevertising's services.</p>

      <div class="offset-box">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/295402678?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>

      <h2>The map</h2>
      <p>The city map of Amsterdam was to be the foundation and backdrop of the video. Getting the right map in a workable format and high resolution was crucial for the quality of the final product. The level of detail, labels, colors and file format limits the available choice. After a look at the available options I ended up with a Google Maps extension called
        <a href="https://www.snazzymaps.com" target="_blank">Snazzy Maps</a>. Snazzy maps grants control of the visibility and color of all elements on the map. Downside is the 1000x1000 pixel limit and 10 images a day.</p>

      <p>I started out by giving streets, nature and water a highly contrasting color. By doing this, the elements can be split into separate layers by selecting the colors in Photoshop. I ended up stitching about thirty 1000*1000 pixel images to create the detailed map.</p>

      <div class="offset-box img" style="background-image: url('https://images.unsplash.com/photo-1528643145544-5c39fb2c81a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74b40a915fd26c927520da2326a8c06e&auto=format&fit=crop&w=1163&q=80')"></div>

      <h2>The routes and stops</h2>
      <p>In a first try </p>
      <div class="offset-box img" style="background-image: url('https://images.unsplash.com/photo-1528643145544-5c39fb2c81a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74b40a915fd26c927520da2326a8c06e&auto=format&fit=crop&w=1163&q=80')"></div>

      <h2>Camera and lighting</h2>
      <p>In a first try </p>
      <div class="offset-box img" style="background-image: url('https://images.unsplash.com/photo-1528643145544-5c39fb2c81a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74b40a915fd26c927520da2326a8c06e&auto=format&fit=crop&w=1163&q=80')"></div>

      <quote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, laudantium? Quae repellat dignissimos perspiciatis ipsum aliquid recusandae, minus alias, dolorem tempore modi accusantium sint quisquam nam maxime nulla reprehenderit incidunt.</quote>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, laudantium? Quae repellat dignissimos perspiciatis ipsum aliquid recusandae, minus alias, dolorem tempore modi accusantium sint quisquam nam maxime nulla reprehenderit incidunt.</p>
      <div class="offset-box img" style="background-image: url('https://images.unsplash.com/photo-1528643145544-5c39fb2c81a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74b40a915fd26c927520da2326a8c06e&auto=format&fit=crop&w=1163&q=80')"></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, laudantium? Quae repellat dignissimos perspiciatis ipsum aliquid recusandae, minus alias, dolorem tempore modi accusantium sint quisquam nam maxime nulla reprehenderit incidunt.</p>
      <div class="offset-box">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/51805248?autoplay=0&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, laudantium? Quae repellat dignissimos perspiciatis ipsum aliquid recusandae, minus alias, dolorem tempore modi accusantium sint quisquam nam maxime nulla reprehenderit incidunt.</p>



  {{/inline}}

{{!-- Add scripts for this specific page --}}
  {{#*inline "scripts-block"}}
    <script src="new-script.js"></script>
  {{/inline}}

{{/layouts/base}}
