<div>
  <div class="grid-container" id="footer" >
    <div class="footer-list">
      <h2>Go to</h2>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about.html"><li>About me</li></a>
        <a href="/portfolio.html"><li>Portfolio</li></a>
        <a href="/projects.html"><li>Projects</li></a>
        <a href="/contact.html"><li>Contact</li></a>
      </ul>
    </div>
    <div class="footer-list">
      <h2>Find me online</h2>
      <ul>
        <a href="https://www.behance.net/joostvansandick"><li>Behance</li></a>
        <a href="https://dribbble.com/joostvansandick"><li>Dribbble</li></a>
        <a href="https://codepen.io/joostvansandick/"><li>Codepen</li></a>
        <a href="https://github.com/jvsandick"><li>Github</li></a>
        <a href="https://www.linkedin.com/in/joostvansandick/"><li>Linkedin</li></a>
        <a href="https://www.instagram.com/joostvansandick/"><li>Instagram</li></a>
      </ul>
    </div>
  </div>
</div>