<div class="grid-container" style="position: sticky;">
  <div id="mobile-menu">
    <img id="menu-icon" src="/images/menu_icon.png" alt="menu icon">
    
    {{!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><rect x="18" y="28" width="64" height="4"/><rect x="18" y="68" width="64" height="4"/><rect x="18" y="48" width="64" height="4"/></g></svg> --}}
  </div>

  <div id="header"><div>
    <h1>{{mainheader}}</h1>
    <h2>{{subheader}}</h2>
  </div></div>

  <div class="menu" id="main-menu">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/about.html"><li>About me</li></a>
      <a href="/portfolio.html"><li>Portfolio</li></a>
      <a href="/projects.html"><li>projects</li></a>
      <a href="/contact.html"><li>Contact</li></a>
    </ul>
  </div>
</div>