<div class="grid-container" style="position: sticky;">
        <div id="mobile-menu">
          <div id="menu-icon">
            <div class="stroke"></div>
            <div class="stroke"></div>
            <div class="stroke"></div>
          </div>
        </div>
        <div id="header"><div>
          <h1>{{mainheader}}</h1>
          <h2>{{subheader}}</h2>
        </div></div>
        <div class="menu" id="mainmenu">
          <ul>
            <a href="/"><li>Home</li></a>
            <a href="/about.html"><li>About me</li></a>
            <a href="/portfolio.html"><li>Portfolio</li></a>
            <a href="/projects.html"><li>projects</li></a>
            <a href="/contact.html"><li>Contact</li></a>
          </ul>
        </div>
      </div>