<div class="grid-container" style="position: sticky;">

  <div id="mobile-menu">
    <div id="menu-icon">
      <div class="stroke"></div>
      <div class="stroke"></div>
      <div class="stroke"></div>
    </div>
  </div>
  <div class="menu" id="mainmenu">
    <ul>
      <a href="/"><li class="menu-item">Home</li></a>
      <a href="/about.html"><li class="menu-item">About me</li></a>
      <a href="/portfolio.html"><li class="menu-item">Portfolio</li></a>
      <a href="/projects.html"><li class="menu-item">projects</li></a>
      <a href="/contact.html"><li class="menu-item">Contact</li></a>
    </ul>
  </div>
  <div id="header"><h1>Joost van Sandick</h1></div>

</div>