<div id="menu-container">
  <div id="menu">
    
    <div id="menu-overlay"></div>
    <div id="menu-addon">
        <img class="menu-button" id="close-button" src="/images/close_icon.png" alt="">
        <img class=" menu-button" id="menu-button" src="/images/menu_icon.png" alt="">
      <h2 id="menu-title">MENU</h2>
    </div>
    
    <div id="menu-items">
      <ul>
        <a href="/"><li class="menu-item">Home</li></a>
        <a href="/about.html"><li class="menu-item">About me</li></a>
        <a href="/portfolio.html"><li class="menu-item">Portfolio</li></a>
        <a href="/projects.html"><li class="menu-item">projects</li></a>
        <a href="/contact.html"><li class="menu-item">Contact</li></a>
      </ul>
    </div>
  </div>
</div>