#menu-container {
  position: fixed;
  z-index: 201;
  
  #menu {
    display: grid;
    position: absolute;
    background-color: $yellow;
    margin-left: var(--gsh);
    left: -30vw;
    transition: transform 200ms ease-out;
    width: 30vw;
    height: 100vh;
    font-family: $header-font;
    align-items: center;
    &:hover{
      transform: translateX(calc(30vw - var(--gsh)));
      #menu-overlay { opacity: 0.7; }
      #close-button { transform: rotate(360deg); opacity: 1;}
      #menu-button { transform: rotate(360deg); opacity: 0;}
    }

    #menu-overlay {
      position: absolute;
      background-color: $yellow;
      opacity: 0;
      height: 100vh;
      width: 200vw;
      pointer-events: none;
      transition: opacity 300ms ease-out;
      z-index: 1;
    }

    #menu-addon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      z-index: 300;
      width: var(--gsh);
      display: grid;
      justify-items: center;
    }

    .menu-button {
      grid-area: 1 / 1 / 1 / 1;
      width: 25px;
      transition: transform 300ms ease-out, opacity 200ms ease-out;
      margin-top: 24px;
    }
    #close-button {
      opacity: 0;
    }
    #menu-button {
      opacity: 1;
    }

    #menu-title {
      transform: rotate(90deg);
      margin: 50px 0;
      line-height: 1;
      font-size: 25px;
      color: $off-black;
      &::after {
        content: '';
        position: absolute;
        right: -80px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 3px;
        display: inline-block;
        background-color: $off-black;
      }
    }

    #menu-line {
      border-left: 3px $off-black solid;
      height: 40px;
    }
    
    #menu-items {
      z-index: 2;
      ul {
        padding: 0;
        text-align: right;
        line-height: 1.7;
        list-style: none;
        text-transform: uppercase;
        width: 100%;
      }
      .menu-item {
        padding-right: var(--gsh);
        font-size: calc( 20px + var(--gs) * 0.06 );
        transition: color 100ms ease-out;
        &:hover{
          background-color: $bg;
        }
      }
    }
  }
}