#main-menu {
  @include bp(large) { grid-area: 1 / 2 / span 1 / span 1; }
  @include bp(medium) { grid-area: 1 / 1 / span 1 / span 1; }
  @include bp(small) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    //opacity: 0;
    display: none;
    padding: var(--gs);
    background: $strokes;
    width: calc(3 * var(--gs));
    box-shadow: -5px 0 $yellow;
    &.active {
      display: grid;
    }
  }
  padding: 0;
  display: grid;
}
.menu {
  place-items: center right;
  font-family: 'Open Sans', sans-serif;
  ul {
    font-size: calc( var(--gs) * 0.18 );
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 2;
    list-style: none;
    text-transform: lowercase;
    width: 100%;
    li {
      position: relative;
      box-shadow: 0 0 $yellow;
      transition:
          color $short-ease,
          box-shadow $short-ease;
      padding-left: 3px;
      &.active {
        box-shadow: -0.5rem 0 $yellow;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-top: 1px solid $stroke;
        border-bottom: 1px solid $stroke;
        transform: scale(0, 1);
        transform-origin: left;
        transition:
            transform $short-ease;
      }
      &:hover {
        box-shadow: -0.5rem 0 $yellow;
      }
      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}

#mobile-menu {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  display: none;
  height: var(--gs);
  width: var(--gs);
  @include bp(small) { display: grid;}
  //grid-area: span 1 / span 1;
  place-items: center;
  transition: border $short-ease;
  border: 0 solid $yellow;
  &:hover {
    //border: 0.5rem solid $yellow;
  }
  &:hover #menu-icon .stroke {
    background-color: $yellow;
  }

  #menu-icon {
    width: 30%;
  }
}