#header {
  display: grid;
  @include bp(large) { grid-area: 1 / 4 / span 1 / span 4; }
  @include bp(medium) { grid-area: 1 / 2 / span 1 / span 4; }
  @include bp(small) { grid-area: 2 / 1 / span 1 / span 4; }
  padding: 0;
  place-items: center right;
  text-align: right;
  height: 100vh;
  max-height: 80vw;
  @include bp(small) { height: 100%; }
  animation-duration: 700ms;
  animation-name: appear;
  div {
    display: grid;
    place-items: center right;
    text-align: right;
    width: 100%;
  }
  h1 {
    font-size: calc( var(--gs) * 0.9 );
    line-height: 1;
    margin-right: calc( var(--gs) * -0.02 );
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    animation-duration: 400ms;
    animation-name: appear;
  }
  h2 {
    margin-top: 1em;
    max-width: 50%;
    line-height: 1.6em;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-10px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}